<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KILDEKODE</title>
    <link rel='stylesheet' href='/css/login-KildeKode.css'>
    <script src="/js/login-KildeKode.js"></script>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <div class="wrapper">
            <div class="container">
                <div class="container-sign" id="container-sign">
                    <div class="signin-signup">
                        <div class="sign-in">
                            <h2>Acessar Conta</h2>
                            <form action="/auth/login" method="post">
                                <input type="text" name="username" placeholder="Email" required>
                                <input type="password" name="password" placeholder="Senha" required>
                                <input type="submit" value="entrar">
                            </form>
                        </div>
                        <div class="sign-up">
                            <h2>Criar conta</h2>
                            <form action="/auth/register" method="post">
                                <input type="text" name="username" placeholder="Nome" required>
                                <input type="email" name="email" id="" placeholder="Email" required>
                                <input type="password" name="password" placeholder="Senha">
                                <input type="number" name="cpf" placeholder="CPF ">
                                <p>Administrador:</p>
                                <div class="switch">
                                    <input type="checkbox" id="c1" checked>
                                    <label for="c1"><span></span></label>
                                </div>
                                <input type="submit" value="enviar">
                            </form>
                        </div>
                    </div>
                    <div class="mark">
                        <div class="mark-sign-in">
                            <h1>Hey!</h1>
                            <p>Para manter-se conectado conosco, faça o login com suas informações pessoais.</p>
                            <button id="btn-sign-in">Acessar Conta</button>
                        </div>
                        <div class="mark-sign-up">
                            <h1>Bem vindo!</h1>
                            <p>Insira seus dados pessoais e inicie sua jornada conosco.</p>
                            <button id="btn-sign-up">Cadastrar</button>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
</body>
</html>