<!DOCTYPE html>
<html lang="pt-br; en" id="home">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel='stylesheet' href='css/loginCSS.css'>

</head>

<body id="body">
	<form id="signUp" method="post" action="/login">
		div class="textbox">

		<i class="fa fa-user" aria-hidden="true"></i>

		<input type="text" placeholder="Username" name="username" id="username" value="">

		</div>
		<div class="textbox">
			<i class="fa fa-lock" aria-hidden="true"></i>

			<input type="password" placeholder="Password" name="password" id="password" value="">
		</div>
		<input class="btn" type="submit" name="" value="Entrar">
	</form>

	<div class="text-right"><a href="/signup">Cadstre-se</a></div>
	<span>
		<%=message%></span>
	</div>
	</div>
	</div>
	<script src="assets/js/main.js"></script>
</body>

</html>