<!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-6">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                <h3 style="color:#e74a3b">RAM</h3>
                  <canvas id="ramChart" width="200" height="100"></canvas>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-6">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                <h3 style="color:#f6c23e">CPU</h3>
                  <canvas id="cpuChart" width="200" height="100"></canvas>
                </div>
              </div>
            </div>

            
            <!-- /.container-fluid -->
          </div>
          <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <div class="container-fluid">
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-6">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <h3 style="color:#4e73df">PROCESSOS</h3>
                  <canvas id="processosChart" width="200" height="100"></canvas>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-6">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <h3 style="color:#1cc88a">DISCO</h3>
                  <canvas id="discoChart" width="200" height="100"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>