<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
            //google.charts.load('current', {'packages': ['corechart'],'language': 'pt'});
           //google.charts.load('current', {'packages': ['corechart']});
           //google.charts.setOnLoadCallback(desenharGraficos);
           //
           //function desenharGraficos() {
           //    var dados;
           //    var tabela;
//
           //    tabela.addColumn('number', 'ram');
//
           //    $.ajax({
           //        cache: false,
           //        method: "get",
           //        url: "/dados",
           //        success: (data) => {
           //            dados = data;
           //            tabela = new google.visualization.DataTable(dados);
           //            grafico.draw(tabela);
           //        },
           //        error: (e) => {
           //            console.log("Erro: ", e);
           //            return;
           //        }
           //    });
//
           //    for(var i = 0; i < 10; i++){
           //        tabela.addRows([dados[i].ram]);
           //    }
//
//
           //    //tabela.sort([{column: 1, desc: true}]);
           //    var opcoes = {
           //        title: 'dados',
           //        height: 400,
           //        width: 800,
           //        legend: 'none',
           //        hAxis: {
           //            gridlines: {
           //                color: 'transparent'
           //            },
           //            textPosition: 'none'
           //        },
           //        annotations: {
           //            alwaysOutside: true
           //        }
           //    }
           //    
           //    var grafico = new google.visualization.LineChart(document.getElementById("graficoArea"));
//
           //};

             // Load the Visualization API and the piechart package.
    google.charts.load('current', {'packages':['corechart']});
      
    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);
      
    function drawChart() {
      var jsonData = $.ajax({
          url: "/dados",
          dataType: "json",
          async: false
          }).responseText;
          
      // Create our data table out of JSON data loaded from server.
      var data = new google.visualization.DataTable();

      for(let i = 0; i < 10; i++){
          data.addRows([jsonData[i]])
      }

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.LineChart(document.getElementById('graficoArea'));
      chart.draw(data, {width: 400, height: 240});
    }

        </script>
    </head>
    <body>
        <div id="graficoArea"></div>
    </body>
</html>